@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: #fff7ed;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #fb923c;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #dd8c00;
	border-radius: 10px;
}

#root {
	display: flex;
	justify-content: center;
	background-color: #FFF7ED;
}